body{
	margin:	80px;
	text-align:center;
}

.loginbutton{
	background-color:#ff0000; 	
	border:none;
	color: white;
	padding: 15px 32px 15px;
	text-align: center;
	border-radius: 15px; 
}
#header{
	color:blue;
}
.navbar.navbar-expand-lg.navbar-light.bg-light
{
	color:black;
}
.container.text-center
{
	text-align:center;

}

.card-image-top
{
	width: 100%;
	height:auto;
}
